---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

/**
/* Night/Day Mode
/* credit https://derekkedziora.com/blog/dark-mode
**/

html,html[data-theme=light] {
  font-size: 100%;
  --box-background-color:hsl(0, 0%, 90%);
  --highlight-color:hsl(0, 0%, 80%);
  --light-border-color:hsl(0, 0%, 80%);
  --light-text-color:hsl(0, 0%, 35%);
  --link-color:hsl(200, 81%, 35%);
  --link-color-visited:hsl(250, 100%, 37%);
  --main-background-color:hsl(0, 5%, 95%);
  --main-text-color:hsl(0, 0%, 0%);
  --sidebar-color:hsl(0, 0%, 90%);
  --underline-color:hsl(0, 0%, 60%);
  --second-border-color: hsl(0, 0%, 80%);
}

html[data-theme=dark] {
  --box-background-color:hsl(0, 0%, 20%);
  --highlight-color:hsl(0, 0%, 60%);
  --light-border-color:hsl(0, 0%, 30%);
  --light-text-color:hsl(0, 0%, 60%);
  --link-color:hsl(200, 81%, 60%);
  --link-color-visited:hsl(250, 100%, 60%);
  --main-background-color:hsl(0, 0%, 10%);
  --main-text-color:hsl(0, 10%, 80%);
  --underline-color:hsl(0, 0%, 50%);
  --second-border-color: hsl(0, 0%, 30%);
}

@media (prefers-color-scheme: dark) {
  html {
    content: "dark";
  }
}

.theme-switcher {
  background-color: var(--main-background-color);
  border: none;
  color: var(--light-text-color);
  font-family: "PT Sans",Helvetia,Arial,sans-serif;
  font-size: .7em;
  letter-spacing: .05em;
  margin-top: 2em;
  margin-left: 2em;
  text-transform: uppercase
}

.theme-switcher:focus {
  outline: none;
}

body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font: 18px/1.4 $helvetica;
  // background: $white;
  // color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: var(--main-text-color);
  font-weight: bold;

  line-height: 1.5;
  margin: 0.5em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: var(--main-text-color);
}

p {
  margin: 15px 0;
}

a {
  color: var(--link-color);
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: square;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

sup {
  font-size: x-small; 
  vertical-align: super;
}

img {
  max-width: 100%;
}

img + em { 
  font-size: 12px;
  display: block; 
  text-align: center;
}

iframe {
  display: block;
  margin: auto;
}

.share-buttons {
  font-size: smaller;
  vertical-align: bottom;
  text-align: right;
  // width: 50%;
  // background-color: rgba(106,159,181,0.15);
}

.blkimg {
  display: block;
}

.card-1 {
  background: transparent;
  border-radius: 2px;
  display: inline-block;
  height: auto;
  margin: 0.5rem;
  position: static;
  width: auto;
  vertical-align: bottom;
}

.card-2 {
  box-shadow: 0 2px 4px rgba(0,0,0,0.12), 0 2px 3px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-2:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.snippet {
  position: relative;
  overflow: visible
}

.snippet code {
  font-size: 14px;
  line-height: 20px
}

.snippet .btn {
  -webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  opacity: 0;
  padding: 2px 6px;
  position: absolute;
  right: 4px;
  top: 4px
}

.snippet:hover .btn,.snippet .btn:focus {
  opacity: 1
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  font-size: 14px;
  color: var(--light-text-color);
}

// Specify the color of the selection
::-moz-selection {
  color: var(--main-text-color);
  background: var(--highlight-color);
}
::selection {
  color: var(--main-text-color);
  background: var(--highlight-color);
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 1em;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid var(--light-border-color);

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: var(--main-text-color);
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 0px;
}

.site-description {
  margin: -5px 0px 0px 3px;
  color: var(--main-text-color);
  font-size: 14px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: var(--main-text-color);
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: var(--link-color);
    }
  }
}

//
// .main
//

.card {
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.imgpad {
  padding: 10px;
}

.post-tag {
  display: inline-block;
  background: rgba(106,159,181,0.15);
  padding: 0 .5rem;
  margin-right: .2rem;
  border-radius: 4px;
  color: #6a9fb5;
  font-family: "PT Sans",Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-style: normal;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out
}

.post-tag:before {
  content: "\f02b";
  font-family: FontAwesome;
  padding-right: .5em
}

.post-tag:hover {
  text-decoration: none;
  background: #6a9fb5;
  color: #fff
}

.tags-expo :target:before {
  content: "";
  display: block;
  height: 72px;
  margin: -72px 0 0
}

@media (min-width: 38em) {
  .tags-expo .tags-expo-list {
      font-size:0.9rem
  }

  .tags-expo .tags-expo-list .post-tag {
      margin: .2em .3em
  }
}

.tags-expo .tags-expo-section {
  font-family: "PT Sans",Helvetica,Arial,sans-serif
}

.tags-expo .tags-expo-section ul {
  list-style-type: circle;
  list-style-position: inside;
  padding: 0
}

.tags-expo .tags-expo-section ul li {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  padding: 0 1rem
}

.tags-expo .tags-expo-section ul li:hover {
  list-style-type: disc;
  padding: 0 .5rem
}

.tags-expo .tags-expo-section a {
  text-decoration: none
}

.tags-expo .tags-expo-section .post-date {
  display: inline-block;
  font-size: 80%;
  color: #9a9a9a;
  margin: 0;
  padding: 0
}

.posts > .post {
  padding-bottom: 1em;
  border-bottom: 1px solid var(--light-border-color);
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid var(--light-border-color);
    padding: 0.1em 1em;
    color: var(--main-text-color);
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 0px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 1em;
  border-top: 1px solid var(--second-border-color);
  // border-bottom: 1px solid #ddd;
  background-color: var(--box-background-color);
}

.footer-links {
  font-size: 10px;
}

footer {
  padding: 20px 0;
  text-align: center;
}

hr {
  border: none;
  height: 1px;
  /* Set the hr color */
  color: var(--light-border-color); /* old IE */
  background-color: var(--light-border-color); /* Modern Browsers */
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";

@media (min-height: 600px) {div.wrapper-masthead {
  background: inherit;
  position: sticky;
  top: 0;
}
}
