
//
// VARIABLES
//

// Colors
$blue: #2f6aa5;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: "PT Serif", Helvetica, Arial, sans-serif;
$helveticaNeue: "PT Sans", Helvetica, Arial, sans-serif;
$georgia: "PT Serif", Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}